.Cell {
  height: 100px;
  width: 100px;
  background-color: rgb(32, 32, 115);
  transition: background-color 0.7s ease;
  border-radius: 2px;
}

.Cell-lit {
  background-color: rgb(126, 150, 248);
}
